[Unit]
Description=Mqtt Notify Service
After=syslog.target network-online.target
[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/usr/local/lib/mqttnotify/mqttnotify.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
